<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-py-[5rem] twcss-relative'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem]'>
        <div class='lg:twcss-w-[40%] twcss-flex twcss-flex-col lg:twcss-gap-[4rem] twcss-gap-[2rem] twcss-p-[1rem]'>
          <a href='/' class='twcss-w-1/2'>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Hem_Healer_Logo_1_1.png?v=1746204473'
              alt='logo'
              width='auto'
              height='auto'
            >
          </a>
          <ul class='*:twcss-flex *:lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-flex twcss-flex-col twcss-gap-[1rem]'>
            <li>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12Z"/>
              </svg>
              <span class='twcss-ml-[.5rem]'>+1-863-302-8006</span>
            </li>
            <li>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/>
              </svg>
              <span class='twcss-ml-[.5rem]'>support@hemhealer.com</span>
            </li>
            <li>
              <svg
                aria-hidden='true'
                class='e-font-icon-svg e-far-address-book'
                viewBox='0 0 448 512'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                width='24px'
                fill='#3D8124'
              >
                <path d="M436 160c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h320c26.5 0 48-21.5 48-48v-48h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20zm-68 304H48V48h320v416zM208 256c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm-89.6 128h179.2c12.4 0 22.4-8.6 22.4-19.2v-19.2c0-31.8-30.1-57.6-67.2-57.6-10.8 0-18.7 8-44.8 8-26.9 0-33.4-8-44.8-8-37.1 0-67.2 25.8-67.2 57.6v19.2c0 10.6 10 19.2 22.4 19.2z"></path>
              </svg>
              <span class='twcss-ml-[.5rem]'
                >502 E Main St. Lakeland, <br>
                Florida 33801 USA</span
              >
            </li>
          </ul>
          <ul class='twcss-flex twcss-gap-[1rem]'>
            <li>
              <a
                href='https://www.facebook.com/hemorrhoidhealer'
                class='twcss-rounded-full twcss-flex twcss-justify-center twcss-items-center twcss-w-[4rem] twcss-h-[4rem] twcss-bg-[--accent-color]'
              >
                <svg
                  class='e-font-icon-svg e-fab-facebook'
                  viewBox='0 0 512 512'
                  xmlns='http://www.w3.org/2000/svg'
                  height='20px'
                  width='20px'
                  fill='#fff'
                >
                  <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path>
                </svg>
              </a>
            </li>

            <li>
              <a
                href='https://www.instagram.com/hemhealer'
                class='twcss-rounded-full twcss-flex twcss-justify-center twcss-items-center twcss-w-[4rem] twcss-h-[4rem] twcss-bg-[--accent-color]'
              >
                <svg
                  class='e-font-icon-svg e-fab-instagram'
                  viewBox='0 0 448 512'
                  xmlns='http://www.w3.org/2000/svg'
                  height='20px'
                  width='20px'
                  fill='#fff'
                >
                  <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                </svg>
              </a>
            </li>

            <li>
              <a
                href='https://youtube.com/@howtogetridofhemorrhoids'
                class='twcss-rounded-full twcss-flex twcss-justify-center twcss-items-center twcss-w-[4rem] twcss-h-[4rem] twcss-bg-[--accent-color]'
              >
                <svg
                  class='e-font-icon-svg e-fab-youtube'
                  viewBox='0 0 576 512'
                  xmlns='http://www.w3.org/2000/svg'
                  height='20px'
                  width='20px'
                  fill='#fff'
                >
                  <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class='lg:twcss-w-[30%] twcss-flex twcss-flex-col lg:twcss-gap-[2rem]'>
          <h2 class='twcss-font-body lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-font-bold twcss-mb-[1.4rem]'>
            Our Policies
          </h2>
          <ul class='twcss-text-black'>
            {% assign menu_handle = 'policies' %}
            {% if linklists[menu_handle] %}
              <ul>
                {% for link in linklists[menu_handle].links %}
                  <li>
                    <a
                      href='{{ link.url }}'
                      class='twcss-block lg:twcss-px-[2rem] twcss-px-[1rem] lg:twcss-text-[1.8rem] twcss-text-[1.5rem] lg:twcss-py-[1.3rem] twcss-py-[1rem] hover:twcss-text-[--accent-color]'
                    >
                      {{- link.title -}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </ul>
        </div>
        <div class='lg:twcss-w-[30%] lg:twcss-gap-[2rem]'>
          <h2 class='twcss-font-body lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-font-bold twcss-mb-[1.4rem]'>
            Our Products
          </h2>
          <ul class='twcss-text-black'>
            {% assign menu_handle = 'products' %}
            {% if linklists[menu_handle] %}
              <ul>
                {% for link in linklists[menu_handle].links %}
                  <li>
                    <a
                      href='{{ link.url }}'
                      class='twcss-block lg:twcss-px-[2rem] twcss-px-[1rem] lg:twcss-text-[1.8rem] twcss-text-[1.5rem] lg:twcss-py-[1.3rem] twcss-py-[1rem] hover:twcss-text-[--accent-color]'
                    >
                      {{- link.title -}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom section footer",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section footer"
    }
  ]
}
{% endschema %}
