<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative twcss-bg-[--accent-color-3]  twcss-pt-[5rem]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <h2 class='twcss-font-heading lg:twcss-text-[7rem] twcss-text-[3.8rem] twcss-font-medium twcss-text-center twcss-max-w-[100rem] twcss-mx-auto twcss-leading-none'>
        {{ section.settings.heading_text }}
      </h2>
      <div class='twcss-flex lg:twcss-flex-nowrap twcss-flex-wrap twcss-justify-center twcss-pt-[4rem] lg:twcss-gap-[4rem] twcss-pb-[5rem]'>
        <div class='twcss-flex twcss-gap-[2rem] twcss-flex-col lg:twcss-w-[60%] twcss-p-[1rem] twcss-justify-center twcss-items-center'>
          {%- assign image_1_src = 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Diosmin_1.png?v=1750795488' -%}
          {%- if section.settings.image_1 != blank -%}
            {%- assign image_1_src = section.settings.image_1 | image_url: width: 453 -%}
          {%- endif -%}
          {%- assign image_2_src = 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Diosmin_2.png?v=1750795489' -%}
          {%- if section.settings.image_2 != blank -%}
            {%- assign image_2_src = section.settings.image_2 | image_url: width: 453 -%}
          {%- endif -%}
          <div class='twcss-grid twcss-grid-cols-2 twcss-gap-[2rem] twcss-max-w-[70rem]'>
            <img
              src='{{ image_1_src }}'
              class='twcss-w-full'
              alt='{{ section.settings.image_1_alt }}'
              height='340'
              width='453'
            >
            <img
              src='{{ image_2_src }}'
              class='twcss-w-full'
              alt='{{ section.settings.image_2_alt }}'
              height='340'
              width='453'
            >
          </div>
          <h3 class='twcss-text-[2.2rem] twcss-font-body twcss-font-bold twcss-mt-[4rem]'>
            {{ section.settings.research_heading_text }}
          </h3>
          <ul class='twcss-flex twcss-gap-[2rem] twcss-flex-col'>
            <li class='twcss-flex'>
              <svg
                class='material-symbols-outlined twcss-w-[2.4rem] twcss-h-[2.4rem] twcss-mr-[1.5rem] twcss-text-[--accent-color] twcss-mt-[.6rem]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <div>
                <h4 class='twcss-text-[2.6rem] twcss-font-heading twcss-font-medium twcss-mb-[1rem]'>
                  {{ section.settings.point_1_title }}
                </h4>
                <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem]'>
                  {{ section.settings.point_1_desc }}
                </p>
              </div>
            </li>

            <li class='twcss-flex'>
              <svg
                class='material-symbols-outlined twcss-w-[2.4rem] twcss-h-[2.4rem] twcss-mr-[1.5rem] twcss-text-[--accent-color] twcss-mt-[.6rem]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <div>
                <h4 class='twcss-text-[2.6rem] twcss-font-heading twcss-font-medium twcss-mb-[1rem]'>
                  {{ section.settings.point_2_title }}
                </h4>
                <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem]'>
                  {{ section.settings.point_2_desc }}
                </p>
              </div>
            </li>

            <li class='twcss-flex'>
              <svg
                class='material-symbols-outlined twcss-w-[2.4rem] twcss-h-[2.4rem] twcss-mr-[1.5rem] twcss-text-[--accent-color] twcss-mt-[.6rem]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <div>
                <h4 class='twcss-text-[2.6rem] twcss-font-heading twcss-font-medium twcss-mb-[1rem]'>
                  {{ section.settings.point_3_title }}
                </h4>
                <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem]'>
                  {{ section.settings.point_3_desc }}
                </p>
              </div>
            </li>
          </ul>
          {% comment %}
            <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem]'>
              Diosmin is a powerful bioflavonoid that improves vein health, reduces inflammation, and promotes long-term
              relief.
            </p>

            <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem]'>
              The use of diosmin to treat hemorrhoids was substantiated in a group of 66 patients suffering from primitive
              hemorrhoids of grade 1-4. The results1 demonstrated the efficacy of purified diosmin in reducing both pain
              and bleeding; reduction rates of 79% and 67%, respectively, were achieved in the first week of treatment,
              and 98% and 86%, respectively, in the second week of treatment.
            </p>
          {% endcomment %}
          <a
            href='{{ routes.cart_add_url }}?id[]=40292763861151&quantity[]=1&id[]=45613637566677&quantity[]=1'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-mb-[1.4rem] twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] lg:twcss-mt-[4rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
          >
            {{ section.settings.button_text }}
          </a>
          <p
            href='#'
            class='twcss-text-center twcss-text-[2.2rem] twcss-font-medium'
          >
            {{ section.settings.source_text }}*
          </p>
          <p class='twcss-text-center twcss-mb-[1.4rem]'>*{{ section.settings.source_citation }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom section V",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Main Heading",
      "default": "t:sections.custom-section-5.settings.heading_text.default"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "image_1_alt",
      "label": "Image 1 Alt Text",
      "default": "t:sections.custom-section-5.settings.image_1_alt.default"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "image_2_alt",
      "label": "Image 2 Alt Text",
      "default": "t:sections.custom-section-5.settings.image_2_alt.default"
    },
    {
      "type": "text",
      "id": "research_heading_text",
      "label": "Research Heading",
      "default": "t:sections.custom-section-5.settings.research_heading_text.default"
    },
    {
      "type": "text",
      "id": "point_1_title",
      "label": "Point 1 Title",
      "default": "t:sections.custom-section-5.settings.point_1_title.default"
    },
    {
      "type": "text",
      "id": "point_1_desc",
      "label": "Point 1 Description",
      "default": "t:sections.custom-section-5.settings.point_1_desc.default"
    },
    {
      "type": "text",
      "id": "point_2_title",
      "label": "Point 2 Title",
      "default": "t:sections.custom-section-5.settings.point_2_title.default"
    },
    {
      "type": "text",
      "id": "point_2_desc",
      "label": "Point 2 Description",
      "default": "t:sections.custom-section-5.settings.point_2_desc.default"
    },
    {
      "type": "text",
      "id": "point_3_title",
      "label": "Point 3 Title",
      "default": "t:sections.custom-section-5.settings.point_3_title.default"
    },
    {
      "type": "text",
      "id": "point_3_desc",
      "label": "Point 3 Description",
      "default": "t:sections.custom-section-5.settings.point_3_desc.default"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "t:sections.custom-section-5.settings.button_text.default"
    },
    {
      "type": "text",
      "id": "source_text",
      "label": "Source Label",
      "default": "t:sections.custom-section-5.settings.source_text.default"
    },
    {
      "type": "text",
      "id": "source_citation",
      "label": "Source Citation",
      "default": "t:sections.custom-section-5.settings.source_citation.default"
    }
  ],
  "presets": [
    {
      "name": "custom section V"
    }
  ]
}
{% endschema %}
