<!-- start section 1 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative twcss-bg-[top_center] lg:twcss-bg-white  twcss-bg-[--accent-color-3]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div
        class='twcss-hidden twcss-pl-[3rem] twcss-min-h-[74rem] lg:twcss-flex twcss-flex-col  twcss-justify-center twcss-bg-[url(https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hem-hero-hero-image-w-bottle3-png.png?v=1742722703)]'
      >
        <div class='twcss-w-1/2'>
          <h1 class='twcss-font-medium twcss-text-[10rem] twcss-text-white [text-shadow:0rem_0rem_1rem_#000000]'>
            HEM HERO®
          </h1>
          <h2 class='twcss-font-medium twcss-text-[5rem] twcss-text-white [text-shadow:0rem_0rem_1rem_#000000]'>
            Fast Relief for Hemorrhoids
          </h2>
          <div class='twcss-mx-auto twcss-leading-[0] twcss-py-[2rem] twcss-w-full'>
            <span class='twcss-flex twcss-border-t twcss-border-2 twcss-border-[--accent-color-2] twcss-w-1/2 '
              >&nbsp;</span
            >
          </div>
          <div class=''></div>
          <p class='twcss-text-[2.5rem] twcss-mb-[1.4rem] twcss-text-white [text-shadow:0rem_0rem_1rem_#000000]'>
            Struggling with painful, itchy, or swollen hemorrhoids?
          </p>
          <p class='twcss-text-[2.5rem] twcss-mb-[1.4rem] twcss-text-white [text-shadow:0rem_0rem_1rem_#000000]'>
            <b>Hem Hero®</b> is your all-natural, fast-acting solution for soothing relief.
          </p>
          <a
            class='hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-mt-[2rem] twcss-leading-none twcss-font-heading twcss-text-[2rem] twcss-font-medium twcss-block twcss-text-center twcss-px-[2.4rem] twcss-py-[1.2rem] twcss-bg-[--accent-color-2] twcss-text-white twcss-rounded-[.3rem] twcss-w-full'
            href='/products/hem-healer'
            >BUY NOW</a
          >
        </div>
      </div>
      <div class='lg:twcss-hidden twcss-block twcss-pb-[5rem]'>
        <img
          class='twcss-w-full'
          src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hem-hero-mobile-hero-png.avif?v=1745347228'
          alt='hem hero'
          width='auto'
          height='auto'
        >
        <div class='twcss-p-[1rem] twcss-flex twcss-flex-col twcss-gap-[1rem]'>
          <h1 class='twcss-font-medium twcss-text-[5rem] twcss-text-[--accent-color]'>HEM HERO®</h1>
          <h2 class='twcss-font-medium twcss-text-[3rem] twcss-text-black'>Fast Relief for Hemorrhoids</h2>
          <div class='twcss-mx-auto twcss-leading-[0] twcss-py-[.5rem] twcss-w-full'>
            <span class='twcss-flex twcss-border-t twcss-border-[--accent-color] twcss-w-1/2 '>&nbsp;</span>
          </div>
          <div>
            <p class='twcss-text-[1.5rem] twcss-text-black twcss-mb-[1.4rem]'>
              Struggling with painful, itchy, or swollen hemorrhoids?
            </p>
            <p class='twcss-text-[1.5rem] twcss-text-black twcss-mb-[1.4rem]'>
              <b>Hem Hero®</b> is your all-natural, fast-acting solution for soothing relief.
            </p>
          </div>
          <a
            class='hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-leading-none twcss-font-heading twcss-text-[2rem] twcss-font-medium twcss-block twcss-text-center twcss-px-[2.4rem] twcss-py-[1.2rem] twcss-bg-[--accent-color-2] twcss-text-white twcss-rounded-[.3rem] twcss-w-full'
            href='/products/hem-healer'
            >BUY NOW</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section 1 -->
<!-- start section 2 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative  twcss-bg-[top_center]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <h2 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center twcss-mb-[2rem]'>
        Are You Sick and Tired Of...
      </h2>
      <div class='twcss-grid lg:twcss-grid-cols-3 twcss-gap-[2rem] twcss-text-black twcss-pb-[2rem]'>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemorrhoid-pain1-png.png?v=1742725353'
            alt='Feeling embarrassed'
            class='w-full'
            width='auto'
            height='auto'
          >
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] lg:twcss-text-left twcss-text-center twcss-mb-[1.4rem] twcss-tracking-normal'>
            <b>Feeling embarrassed</b> about your hemorrhoids?
          </p>
        </div>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemorrhoid-pain2-png.png?v=1742725419'
            alt='Worrying'
            class='w-full'
            width='auto'
            height='auto'
          >
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] lg:twcss-text-left twcss-text-center twcss-mb-[1.4rem] twcss-tracking-normal'>
            <b>Worrying about going to the bathroom</b> and the discomfort that follows?
          </p>
        </div>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemorrhoid-pain3-png.png?v=1742725496'
            alt='thinking'
            class='w-full'
            width='auto'
            height='auto'
          >
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] lg:twcss-text-left twcss-text-center twcss-mb-[1.4rem] twcss-tracking-normal'>
            <b>Constantly thinking about your hemorrhoids</b> and how they affect your daily life?
          </p>
        </div>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemorrhoid-pain6-png.png?v=1742725602'
            alt='Feeling embarrassed'
            class='w-full'
            width='auto'
            height='auto'
          >
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] lg:twcss-text-left twcss-text-center twcss-mb-[1.4rem] twcss-tracking-normal'>
            <b>Using hemorrhoid products</b> that promise results but never deliver?
          </p>
        </div>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemorrhoid-pain5-png.png?v=1742725632'
            alt='Feeling embarrassed'
            class='itching'
            width='auto'
            height='auto'
          >
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] lg:twcss-text-left twcss-text-center twcss-mb-[1.4rem] twcss-tracking-normal'>
            <b>The constant itching, burning, bleeding, and throbbing</b> that won’t seem to go away?
          </p>
        </div>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemorrhoid-pain4-png.png?v=1742725664'
            alt='Feeling embarrassed'
            class='itching'
            width='auto'
            height='auto'
          >
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] lg:twcss-text-left twcss-text-center twcss-mb-[1.4rem] twcss-tracking-normal'>
            <b>Not being as active as you’d like</b> because of the pain and discomfort?
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-bottom-0 twcss-rotate-180 twcss-z-[-1] -twcss-mb-px'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(216%+1.3px)] twcss-w-[calc(210%+1.3px)] lg:twcss-h-[19.9rem] twcss-h-[8rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[--accent-color-2]'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
</div>
<!-- end section 2 -->
<!-- start section 3 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative  twcss-bg-[top_center] twcss-bg-[--accent-color-2] lg:twcss-pt-[5rem] lg:twcss-pb-[10rem]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
        <span class='lg:twcss-py-[4rem] twcss-py-[2rem]'>
          <div class='lg:twcss-w-1/2 twcss-w-[70%] twcss-mx-auto twcss-flex twcss-items-center'>
            <span class='twcss-border-t twcss-border-[--accent-color-4] twcss-grow twcss-h-px'>&nbsp;</span>
            <svg
              aria-hidden='true'
              class='twcss-w-[2rem] twcss-h-[2rem] twcss-mx-[1rem] twcss-fill-[--accent-color-4]'
              viewBox='0 0 448 512'
              xmlns='http://www.w3.org/2000/svg'
            >
              <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
            </svg>
            <span class='twcss-border-t twcss-border-[--accent-color-4] twcss-grow twcss-h-px'>&nbsp;</span>
          </div>
        </span>
        <h3 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium twcss-leading-none twcss-text-center twcss-mb-[2rem]'>
          If you answered YES to any of these...
        </h3>
        <div>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem] twcss-text-center twcss-text-black'>
            <b>Hem Hero®</b> is here to help you take back control of your life with fast, effective relief.
          </p>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem] twcss-text-center twcss-text-black'>
            Formulated with powerful botanical extracts and proven ingredients, Hem Hero® works to reduce discomfort,
            shrink swollen tissue, and promote healing
          </p>
        </div>
        <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem]'>
          <div class='lg:twcss-p-[1rem] lg:twcss-w-[30%] twcss-flex twcss-flex-col twcss-justify-center'>
            <ul class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
              <li class='twcss-flex lg:twcss-flex-row twcss-flex-col'>
                <span class='twcss-fill-[--accent-color-4] lg:twcss-mr-[1.5rem] lg:twcss-mb-0 twcss-mb-[1.5rem] lg:twcss-mx-0 twcss-mx-auto'>
                  <svg
                    aria-hidden='true'
                    class='twcss-w-[2rem] twcss-h-[2rem]'
                    viewBox='0 0 512 512'
                    xmlns='http://www.w3.org/2000/svg'
                  >
                    <path d="M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z"></path>
                  </svg>
                </span>
                <div>
                  <h4 class='twcss-font-heading lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-text-[--accent-color-4] lg:twcss-mt-[.8rem] twcss-mb-[1.6rem] twcss-font-medium lg:twcss-text-left twcss-text-center'>
                    Fast-Acting Relief
                  </h4>
                  <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black lg:twcss-text-left twcss-text-center'>
                    Quickly soothes itching, burning, and discomfort.
                  </p>
                </div>
              </li>
              <li class='twcss-flex lg:twcss-flex-row twcss-flex-col'>
                <span class='twcss-fill-[--accent-color-4] lg:twcss-mr-[1.5rem] lg:twcss-mb-0 twcss-mb-[1.5rem] lg:twcss-mx-0 twcss-mx-auto'>
                  <svg
                    aria-hidden='true'
                    class='twcss-w-[2rem] twcss-h-[2rem]'
                    viewBox='0 0 512 512'
                    xmlns='http://www.w3.org/2000/svg'
                  >
                    <path d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zM212 140v116h-70.9c-10.7 0-16.1 13-8.5 20.5l114.9 114.3c4.7 4.7 12.2 4.7 16.9 0l114.9-114.3c7.6-7.6 2.2-20.5-8.5-20.5H300V140c0-6.6-5.4-12-12-12h-64c-6.6 0-12 5.4-12 12z"></path>
                  </svg>
                </span>
                <div>
                  <h4 class='twcss-font-heading lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-text-[--accent-color-4] lg:twcss-mt-[.8rem] twcss-mb-[1.6rem] twcss-font-medium lg:twcss-text-left twcss-text-center'>
                    Reduces Swelling
                  </h4>
                  <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black lg:twcss-text-left twcss-text-center'>
                    Helps shrink hemorrhoids for lasting comfort.
                  </p>
                </div>
              </li>
              <li class='twcss-flex lg:twcss-flex-row twcss-flex-col'>
                <span class='twcss-fill-[--accent-color-4] lg:twcss-mr-[1.5rem] lg:twcss-mb-0 twcss-mb-[1.5rem] lg:twcss-mx-0 twcss-mx-auto'>
                  <svg
                    aria-hidden='true'
                    class='twcss-w-[2rem] twcss-h-[2rem]'
                    viewBox='0 0 512 512'
                    xmlns='http://www.w3.org/2000/svg'
                  >
                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                  </svg>
                </span>
                <div>
                  <h4 class='twcss-font-heading lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-text-[--accent-color-4] lg:twcss-mt-[.8rem] twcss-mb-[1.6rem] twcss-font-medium lg:twcss-text-left twcss-text-center'>
                    Supports Healing
                  </h4>
                  <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black lg:twcss-text-left twcss-text-center'>
                    Encourages natural tissue repair.
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class='lg:twcss-p-[1rem] lg:twcss-w-[40%] twcss-flex twcss-flex-col lg:twcss-gap-[2rem]'>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-3-bottles-review-png-600x555.png?v=1742752779'
              alt='hem hero'
              width='auto'
              height='auto'
              class='twcss-w-full'
            >
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhealer-quality-icons-in-dark-green-png-600x106.png?v=1742752814'
              alt=''
              width='auto'
              height='auto'
              class='twcss-w-full'
            >
          </div>
          <div class='lg:twcss-p-[1rem] lg:twcss-w-[30%] twcss-flex twcss-flex-col twcss-justify-center'>
            <ul class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
              <li class='twcss-flex lg:twcss-flex-row twcss-flex-col'>
                <span class='twcss-fill-[--accent-color-4] lg:twcss-mr-[1.5rem] lg:twcss-mb-0 twcss-mb-[1.5rem] lg:twcss-mx-0 twcss-mx-auto'>
                  <svg
                    aria-hidden='true'
                    class='twcss-w-[2rem] twcss-h-[2rem]'
                    viewBox='0 0 512 512'
                    xmlns='http://www.w3.org/2000/svg'
                  >
                    <path d="M546.2 9.7c-5.6-12.5-21.6-13-28.3-1.2C486.9 62.4 431.4 96 368 96h-80C182 96 96 182 96 288c0 7 .8 13.7 1.5 20.5C161.3 262.8 253.4 224 384 224c8.8 0 16 7.2 16 16s-7.2 16-16 16C132.6 256 26 410.1 2.4 468c-6.6 16.3 1.2 34.9 17.5 41.6 16.4 6.8 35-1.1 41.8-17.3 1.5-3.6 20.9-47.9 71.9-90.6 32.4 43.9 94 85.8 174.9 77.2C465.5 467.5 576 326.7 576 154.3c0-50.2-10.8-102.2-29.8-144.6z"></path>
                  </svg>
                </span>
                <div>
                  <h4 class='twcss-font-heading lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-text-[--accent-color-4] lg:twcss-mt-[.8rem] twcss-mb-[1.6rem] twcss-font-medium lg:twcss-text-left twcss-text-center'>
                    All-Natural Formula
                  </h4>
                  <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black lg:twcss-text-left twcss-text-center'>
                    Gentle, yet effective botanical ingredients.
                  </p>
                </div>
              </li>
              <li class='twcss-flex lg:twcss-flex-row twcss-flex-col'>
                <span class='twcss-fill-[--accent-color-4] lg:twcss-mr-[1.5rem] lg:twcss-mb-0 twcss-mb-[1.5rem] lg:twcss-mx-0 twcss-mx-auto'>
                  <svg
                    aria-hidden='true'
                    class='twcss-w-[2rem] twcss-h-[2rem]'
                    viewBox='0 0 512 512'
                    xmlns='http://www.w3.org/2000/svg'
                  >
                    <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm80 168c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zm-160 0c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zm194.8 170.2C334.3 380.4 292.5 400 248 400s-86.3-19.6-114.8-53.8c-13.6-16.3 11-36.7 24.6-20.5 22.4 26.9 55.2 42.2 90.2 42.2s67.8-15.4 90.2-42.2c13.4-16.2 38.1 4.2 24.6 20.5z"></path>
                  </svg>
                </span>
                <div>
                  <h4 class='twcss-font-heading lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-text-[--accent-color-4] lg:twcss-mt-[.8rem] twcss-mb-[1.6rem] twcss-font-medium lg:twcss-text-left twcss-text-center'>
                    Safe & Easy to Use
                  </h4>
                  <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black lg:twcss-text-left twcss-text-center'>
                    No harsh chemicals or synthetic additives.
                  </p>
                </div>
              </li>
              <li class='twcss-flex lg:twcss-flex-row twcss-flex-col'>
                <span class='twcss-fill-[--accent-color-4] lg:twcss-mr-[1.5rem] lg:twcss-mb-0 twcss-mb-[1.5rem] lg:twcss-mx-0 twcss-mx-auto'>
                  <svg
                    aria-hidden='true'
                    class='twcss-w-[2rem] twcss-h-[2rem]'
                    viewBox='0 0 512 512'
                    xmlns='http://www.w3.org/2000/svg'
                  >
                    <path d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z"></path>
                  </svg>
                </span>
                <div>
                  <h4 class='twcss-font-heading lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-text-[--accent-color-4] lg:twcss-mt-[.8rem] twcss-mb-[1.6rem] twcss-font-medium lg:twcss-text-left twcss-text-center'>
                    For Everyone
                  </h4>
                  <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black lg:twcss-text-left twcss-text-center'>
                    Designed to be effective for both men and women.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <span class='lg:twcss-py-[4rem] twcss-py-[2rem]'>
          <div class='lg:twcss-w-1/2 twcss-w-[70%] twcss-mx-auto twcss-flex twcss-items-center'>
            <span class='twcss-border-t twcss-border-[--accent-color-4] twcss-grow twcss-h-px'>&nbsp;</span>
            <svg
              aria-hidden='true'
              class='twcss-w-[2rem] twcss-h-[2rem] twcss-mx-[1rem] twcss-fill-[--accent-color-4]'
              viewBox='0 0 448 512'
              xmlns='http://www.w3.org/2000/svg'
            >
              <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
            </svg>
            <span class='twcss-border-t twcss-border-[--accent-color-4] twcss-grow twcss-h-px'>&nbsp;</span>
          </div>
        </span>
        <a
          href='/products/hem-hero'
          class='twcss-block hover:twcss-scale-[1.1] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[3rem] twcss-text-[2rem] twcss-text-[--accent-color-2] twcss-bg-[--accent-color-4] twcss-italic twcss-font-semibold lg:twcss-w-1/2 twcss-w-full twcss-text-center twcss-mx-auto'
          >Get Relief Now!</a
        >
      </div>
    </div>
  </div>
</div>
<!-- end section 3 -->
<!-- start section 4 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative  twcss-bg-[top_center] twcss-pt-[5rem]'>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-top-0 twcss-rotate-180 twcss-z-[-1] -twcss-mt-px'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(165%+1.3px)] twcss-w-[calc(238%+1.3px)] lg:twcss-h-[12.5rem] twcss-h-[10.5rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 -twcss-scale-x-100 twcss-fill-[--accent-color-2]'
    >
      <path class="elementor-shape-fill" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
      c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
      c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
    </svg>
  </div>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col twcss-gap-[1rem]'>
        <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium twcss-text-center twcss-leading-none'>
          How It Works
        </h2>
        <h3 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center'>
          The Science Behind Hem Hero®
        </h3>
        <div class='twcss-mt-[2rem]'>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem] twcss-text-center twcss-text-black'>
            Hemorrhoids are swollen veins in the rectal area caused by increased pressure, weakened blood vessels, and
            poor circulation.
          </p>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem] twcss-text-center twcss-text-black'>
            Hem Hero® targets the root causes with a <b>602mg Diosmin Blend</b>, featuring:
          </p>
        </div>
        <div class='twcss-grid lg:twcss-grid-cols-2 lg:twcss-gap-[4rem] twcss-gap-[2rem] twcss-mt-[2rem]'>
          <div class='twcss-border-[.2rem] twcss-border-[--accent-color-2] twcss-p-[1rem]'>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-diosmin-blend1-png-600x338.png?v=1742756397'
              alt='Diosmin & Hesperidin'
              width='auto'
              height='auto'
            >
          </div>
          <div class='lg:twcss-p-[1rem] twcss-flex twcss-flex-col twcss-gap-[2rem]'>
            <h4 class='lg:twcss-text-[2.8rem] twcss-text-[2.2rem]  twcss-text-[--accent-color-4] twcss-font-medium'>
              Diosmin & Hesperidin (90% Purity from Citrus sinensis L.)
            </h4>
            <ul class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black twcss-list-disc twcss-pl-[4rem]'>
              <li>
                Clinically studied flavonoids that
                <strong>improve venous tone, reduce swelling, and support microcirculation</strong>.
              </li>
              <li>Help <strong>strengthen and protect blood vessels</strong>, preventing further irritation.</li>
              <li>
                Known to <strong>accelerate healing</strong> and <strong>reduce bleeding</strong> from internal and
                external hemorrhoids.
              </li>
            </ul>
          </div>
          <div class='twcss-border-[.2rem] twcss-border-[--accent-color-2] twcss-p-[1rem]'>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-diosmin-blend-hesperidin-png-600x338.png?v=1742756480'
              alt='Horse Chestnut Extract'
              width='auto'
              height='auto'
            >
          </div>
          <div class='lg:twcss-p-[1rem] twcss-flex twcss-flex-col twcss-gap-[2rem]'>
            <h4 class='lg:twcss-text-[2.8rem] twcss-text-[2.2rem]  twcss-text-[--accent-color-4] twcss-font-medium'>
              Horse Chestnut Extract (Aesculus hippocastanum)
            </h4>
            <ul class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black twcss-list-disc twcss-pl-[4rem]'>
              <li>
                Rich in <strong data-start='1113' data-end='1123'>aescin</strong>, a compound proven to
                <strong data-start='1146' data-end='1211'
                  >reduce capillary fragility, inflammation, and fluid retention</strong
                >.
              </li>
              <li data-start='1215' data-end='1309'>
                Enhances <strong data-start='1226' data-end='1267'>blood circulation and vein elasticity</strong>,
                preventing hemorrhoids from worsening.
              </li>
              <li data-start='1310' data-end='1416'>
                Used for centuries as a
                <strong data-start='1336' data-end='1413'
                  >natural remedy for vascular health and chronic venous insufficiency (CVI)</strong
                >.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section 4 -->
<!-- start section 5 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative  twcss-bg-[top_center] lg:twcss-pt-[10rem] twcss-pt-[5rem] lg:twcss-pb-[5rem] twcss-pb-[2rem]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col twcss-gap-[1rem]'>
        <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium twcss-text-center twcss-leading-none'>
          Hem Hero® vs. Hem Rescue® – Heart-Friendly Formula
        </h2>
        <h3 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center'>
          Which One Is Right for You?
        </h3>
        <img
          src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hem-hero-vs-hem-rescue-1536x582.png?v=1742758056'
          alt='Hem Hero® vs. Hem Rescue® – Heart-Friendly Formula'
          width='auto'
          height='auto'
        >
      </div>
    </div>
  </div>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-bottom-0 twcss-rotate-180 twcss-z-[-1] -twcss-mb-px'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(100%+1.3px)] twcss-w-[calc(100%+1.3px)]  twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[--accent-color-2]'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
</div>
<!-- end section 5 -->
<!-- start section 6 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative  twcss-bg-[top_center] lg:twcss-pt-[10rem] twcss-pt-[5rem] lg:twcss-pb-[10rem] twcss-pb-[2rem] twcss-bg-[--accent-color-2]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col twcss-gap-[1rem]'>
        <h2 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center'>
          The Ultimate Hemorrhoids Relief & Prevention
        </h2>
        <h3 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-bold twcss-text-center twcss-leading-none twcss-font-body twcss-uppercase twcss-text-[--accent-color-4]'>
          Hem Hero® + Hem Easy-Flow Fiber™
        </h3>
        <div class='twcss-mt-[2rem]'>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem] twcss-text-center twcss-text-black'>
            For maximum hemorrhoid relief and long-term prevention, combining Hem Hero® with Hem Easy-Flow Fiber™
            delivers powerful, inside-out support for your veins and digestion.
          </p>
        </div>
        <div class='lg:twcss-p-[4rem] twcss-px-[2rem] twcss-bg-white twcss-flex lg:twcss-flex-row twcss-flex-col lg:twcss-gap-[6rem] twcss-gap-[4rem]'>
          <div class='lg:twcss-w-1/2'>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/HH_EFF.png?v=1745586334'
              alt='hem hero easy flow'
              width='auto'
              height='auto'
              class='twcss-mb-[6rem]'
            >
            <a
              href='/products/hem-healer'
              class='twcss-mx-auto twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-text-center w-full'
              >SHOP NOW</a
            >
          </div>
          <div class='lg:twcss-w-1/2 twcss-text-black twcss-flex twcss-flex-col twcss-justify-center'>
            <p class='lg:twcss-text-[2.5rem] twcss-text-[1.5rem] twcss-font-bold twcss-mb-[1.4rem]'>
              Why Use Them Together?
            </p>
            <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.44rem]'>
              <strong>Hem Hero®:</strong> Targets <strong>inflammation, swelling, and vein strength</strong>, helping
              reduce existing hemorrhoid discomfort.
            </p>
            <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.44rem]'>
              <strong>Hem Easy-Flow Fiber™:</strong> Promotes <strong>smooth, strain-free digestion</strong>, preventing
              the pressure that leads to flare-ups.
            </p>
            <p class='lg:twcss-text-[2.5rem] twcss-text-[1.5rem] twcss-font-bold twcss-mt-[4rem] twcss-mb-[1.4rem]'>
              How They Work Together
            </p>
            <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.44rem]'>
              ✔&nbsp;<strong>Faster relief</strong>&nbsp;&ndash; Hem Hero&trade; soothes irritation while Hem Easy-Flow
              Fiber&trade; reduces strain.<br>
              ✔&nbsp;<strong>Long-term prevention</strong>&nbsp;&ndash; Strengthened veins + healthy digestion = fewer
              flare-ups.<br>
              ✔&nbsp;<strong>A complete approach</strong>&nbsp;&ndash; Stop treating symptoms and start&nbsp;<strong
                >addressing the root cause</strong
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section 6 -->
<!-- start section 7 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative  twcss-bg-[top_center] lg:twcss-pt-[20rem] twcss-pt-[8rem] lg:twcss-pb-[10rem] twcss-pb-[2rem] twcss-bg-[--accent-color-3]'>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-top-0 twcss-z-[-1] -twcss-mt-px'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(100%+1.3px)] twcss-w-[calc(238%+1.3px)] lg:twcss-h-[18.3rem] twcss-h-[10.5rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[--accent-color-2]'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col lg:twcss-gap-[3rem] twcss-gap-[1rem] '>
        <h2 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center twcss-mb-[2rem]'>
          What Our Customers Are Saying
        </h2>
        <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem]'>
          <div class='lg:twcss-w-1/2 w-full'>
            <iframe
              class='video-testimonial-iframe twcss-aspect-video twcss-h-auto'
              src='https://player.vimeo.com/video/812083970?h=8c39fd2b9e&amp;title=0&amp;byline=0&amp;portrait=0'
              width='100%'
              height='360px'
            ></iframe>
            <p class='lg:twcss-text-[2.4rem] twcss-text-[1.6rem] twcss-italic twcss-text-center twcss-pt-[2rem]'>
              "It has greatly improved my well-being, and my mental health." <br>
              – Joanna
            </p>
          </div>
          <div class='lg:twcss-w-1/2 w-full'>
            <iframe
              class='video-testimonial-iframe twcss-aspect-video twcss-h-auto'
              src='https://player.vimeo.com/video/621266399?h=c4c04b295a&amp;title=0&amp;byline=0&amp;portrait=0'
              width='100%'
              height='360px'
            ></iframe>
            <p class='lg:twcss-text-[2.4rem] twcss-text-[1.6rem] twcss-italic twcss-text-center twcss-pt-[2rem]'>
              "It's the most amazing thing that I've ever taken, because it actually works!"<br>
              - Marc
            </p>
          </div>
        </div>

        <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem]'>
          <div class='lg:twcss-w-1/2 w-full'>
            <iframe
              class='video-testimonial-iframe twcss-aspect-video twcss-h-auto'
              src='https://player.vimeo.com/video/621170719?h=697c4595ab&title=0&byline=0&portrait=0'
              width='100%'
              height='360px'
            ></iframe>
            <p class='lg:twcss-text-[2.4rem] twcss-text-[1.6rem] twcss-italic twcss-text-center twcss-pt-[2rem]'>
              "Once I started taking Hem Hero®, all the pain went away...Try it! Get your life back! <br>
              - Dave
            </p>
          </div>
          <div class='lg:twcss-w-1/2 w-full'>
            <iframe
              class='video-testimonial-iframe twcss-aspect-video twcss-h-auto'
              src='https://player.vimeo.com/video/621175911?h=a3879340ca&title=0&byline=0&portrait=0'
              width='100%'
              height='360px'
            ></iframe>
            <p class='lg:twcss-text-[2.4rem] twcss-text-[1.6rem] twcss-italic twcss-text-center twcss-pt-[2rem]'>
              "Hem Hero® totally changed my entire lifestyle and totally changed my mood.<br>
              - Keon
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section 7 -->
<!-- start section 8 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative  twcss-bg-[top_center] lg:twcss-pt-[20rem] twcss-pt-[8rem] lg:twcss-pb-[10rem] twcss-pb-[2rem] twcss-bg-[--accent-color-3]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col lg:twcss-gap-[3rem] twcss-gap-[1rem] '>
        <h2 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center twcss-mb-[2rem]'>
          What to Expect When Taking Hem Hero®
        </h2>
        <div>
          <div class='splide lg:twcss-mx-0 twcss-mx-[2rem]' aria-label='Splide Basic HTML Example'>
            <div class='splide__track'>
              <ul class='splide__list'></ul>
            </div>
            <div class='splide__arrows'>
              <button class='splide__arrow splide__arrow--prev -twcss-left-[3rem] twcss-bg-transparent'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  height='40px'
                  viewBox='0 -960 960 960'
                  width='40px'
                  fill='#3D8124'
                  style='width:3rem;height:3rem'
                >
                  <path d="M521.33-480.67 328-674l47.33-47.33L616-480.67 375.33-240 328-287.33l193.33-193.34Z"/>
                </svg>
              </button>
              <button class='splide__arrow splide__arrow--next -twcss-right-[3rem] twcss-bg-transparent'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  height='40px'
                  viewBox='0 -960 960 960'
                  width='40px'
                  fill='#3D8124'
                  style='width:3rem;height:3rem'
                >
                  <path d="M521.33-480.67 328-674l47.33-47.33L616-480.67 375.33-240 328-287.33l193.33-193.34Z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <p class='lg:twcss-text-[3rem] twcss-text-[2.5rem] twcss-italic twcss-text-[--accent-color-4] twcss-text-center twcss-py-[5rem] twcss-underline twcss-font-heading'>
          Results may vary, but many users report noticeable improvements within a few weeks of use.
        </p>
        <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[3rem] twcss-w-full twcss-justify-center twcss-items-center twcss-pb-[15rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/brett-mcmorris.png?v=1742827949'
            alt='results'
            class='lg:twcss-w-1/3 twcss-w-full twcss-shadow-[0px_0px_10px_0px_rgba(0,0,0,0.5)] twcss-h-[34.7rem] twcss-object-contain'
          >
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/michelle-may.png?v=1742827949'
            alt='results'
            class='lg:twcss-w-1/3 twcss-w-full twcss-shadow-[0px_0px_10px_0px_rgba(0,0,0,0.5)] twcss-object-contain'
          >
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/neil-patterson.png?v=1742827949'
            alt='results'
            class='lg:twcss-w-1/3 twcss-w-full twcss-shadow-[0px_0px_10px_0px_rgba(0,0,0,0.5)] twcss-h-[34.7rem] twcss-object-contain'
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-bottom-0 twcss-z-[-1] -twcss-mb-px'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(137%+1.3px)] twcss-w-[calc(201%+1.3px)] lg:twcss-h-[17.8rem] twcss-h-[7.2rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[--accent-color-2]'
    >
      <path class="elementor-shape-fill" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
      c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
      c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
    </svg>
  </div>
</div>
<!-- end section 8 -->
<!-- start section 9 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative  twcss-bg-[top_center] lg:twcss-pt-[10rem] twcss-pt-[5rem] lg:twcss-pb-[10rem] twcss-pb-[2rem] twcss-bg-[--accent-color-2]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col twcss-gap-[1rem]'>
        <h2 class='lg:twcss-text-[9rem] twcss-text-[6rem] twcss-font-medium twcss-leading-none twcss-text-center'>
          Don’t suffer in silence!
        </h2>
        <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-pt-[2.5rem] twcss-pb-[5rem] lg:twcss-gap-[4rem]'>
          <div class='lg:twcss-w-1/2 twcss-w-full'>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/buy-hem-hero-now-png-600x499.png?v=1742833292'
              alt='US manufactured'
              width='auto'
              height='auto'
              class='twcss-w-full'
            >
          </div>

          <div class='lg:twcss-w-1/2 twcss-w-full twcss-flex twcss-flex-col twcss-gap-[2rem] twcss-justify-center'>
            <h3 class='twcss-text-[--accent-color-4] lg:twcss-text-[4.5rem] twcss-font-heading twcss-font-medium'>
              Buy Now - 100% Risk Free
            </h3>
            <p class='lg:twcss-text-[2.8rem] twcss-font-medium twcss-text-black twcss-font-heading'>
              Join thousands of satisfied customers who have found real relief with Hem Hero®.
            </p>
            <p class='lg:twcss-text-[1.8rem] twcss-text-black twcss-mb-[1.4rem]'>
              We stand behind our products with a <strong>90-day money-back guarantee</strong> – if you’re not
              completely satisfied, get a full refund, no questions asked!
            </p>
            <p class='lg:twcss-text-[1.8rem] twcss-text-black twcss-mb-[1.4rem]'>
              Experience the fast, soothing relief you deserve. Order now and feel the difference!
            </p>

            <a
              href='/products/hem-healer'
              class='twcss-mx-auto twcss-w-full twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-text-center w-full'
              >BUY NOW</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section 9 -->
<!-- start section 10 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative  twcss-bg-[top_center] lg:twcss-pt-[15rem] twcss-pt-[5rem]'>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-top-0 twcss-z-[-1] -twcss-mt-px'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(100%+1.3px)] twcss-w-[calc(100%+1.3px)] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 -twcss-scale-x-100 twcss-fill-[--accent-color-2]'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col twcss-gap-[1rem]'>
        <h2 class='lg:twcss-text-[9rem] twcss-text-[5rem] twcss-font-medium twcss-text-center twcss-leading-none'>
          Trusted by Science, Backed by Nature
        </h2>
        <h3 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center twcss-text-[--accent-color-4] twcss-mb-[4rem]'>
          Key Ingredients & Benefits of Hem Hero®
        </h3>
        <div class='twcss-mt-[2rem] twcss-mb-[2rem]'>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem] twcss-text-center twcss-text-black'>
            Diosmin and Hesperidin have been extensively studied in clinical trials for their&nbsp;<strong
              >effectiveness in treating chronic venous disorders and hemorrhoids</strong
            >, with studies showing&nbsp;<strong>significant symptom relief within just a few weeks</strong>&nbsp;of
            consistent use.
          </p>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem] twcss-text-center twcss-text-black'>
            Combined with&nbsp;<strong>Horse Chestnut Extract</strong>, this formula&nbsp;<strong
              >supports long-term vein health, reduces recurrence, and promotes faster healing</strong
            >.
          </p>
        </div>
        <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[4rem]'>
          <div class='lg:twcss-w-3/5 twcss-w-full'>
            <style>
              .accordion-header {
                padding: 1rem 1rem 1.4rem 3rem;
                width: 100%;
                text-align: left;
                cursor: pointer;
                font-weight: 600;
                transition: background 0.3s;
                font-size: 2rem;
                color: #000;
                position: relative;
                background-color: var(--accent-color);
                background: linear-gradient(90deg, var(--accent-color-2) 0%, var(--accent-color) 100%);
                font-family: var(--font-heading-family);
              }
              .accordion-header:hover {
                color: #fff;
              }
              .accordion-content {
                background: var(--accent-color-3);
                transition: max-height 0.4s ease;
                overflow: hidden;
                max-height: 0;
              }
              .accordion-inner {
                padding: 2rem;
                color: #000;
              }
              .accordion-inner p {
                margin-bottom: 1.44rem;
              }
              .accordion-inner h4 {
                margin: 0.8rem 0 1.6rem;
                color: #000;
                font-weight: 600;
                font-size: 2.8rem;
              }

              .accordion-header:after {
                content: '+';
                font-size: 2.4rem;
                position: absolute;
                left: 1rem;
                line-height: 2.6rem;
              }
              .accordion-header[aria-expanded='true']:after {
                content: '-';
              }
              @media (max-width: 990px) {
                .accordion-header {
                  font-size: 1.6rem;
                }
                .accordion-header:after {
                  content: '+';
                  font-size: 2.4rem;
                  left: 1rem;
                  line-height: 2.6rem;
                  top: 0.6rem;
                }
                .accordion-inner h4 {
                  font-size: 2.2rem;
                }
              }
            </style>

            <!--  -->
            <div class='accordion' id='accordion'></div>
            <!--  -->
          </div>
          <div class='lg:twcss-w-2/5 twcss-w-full twcss-flex-col twcss-flex twcss-gap-[2rem]'>
            <h4 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium'>How to Take Hem Hero®?</h4>
            <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem] twcss-text-black'>
              Simply take 1 capsule in the morning and 2 in the evening with a glass of water.
            </p>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hem-hero-supplement-facts-png-600x758.png?v=1742838276'
              alt='supplement facts'
              width='auto'
              height='auto'
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end section 10 -->
<!-- start section 11 -->
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative  twcss-bg-[top_center] lg:twcss-pt-[15rem] twcss-pt-[5rem] lg:twcss-pb-[10rem] twcss-pb-[5rem]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
        <h2 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-text-center'>
          How Many Bottles Of Hem Hero® Do I Need?
        </h2>
        <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[2rem] twcss-text-center twcss-text-black'>
          Hem Hero® gets to work fast but may require more product, depending on the severity of your hemorrhoids.
        </p>

        <img
          src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/severity_chart.png?v=1746103501'
          alt='severity chart'
          width='auto'
          height='auto'
          class='twcss-w-full twcss-max-w-[90rem] twcss-mx-auto lg:twcss-block twcss-hidden'
        >
        <img
          src='//www.hemhealer.com/cdn/shop/files/Hem-Severity-Chart-Mobile_750x.png?v=1702983915'
          alt='severity chart'
          width='auto'
          height='auto'
          class='twcss-w-full twcss-max-w-[90rem] twcss-mx-auto twcss-block lg:twcss-hidden'
        >
      </div>
    </div>
  </div>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-bottom-0 twcss-z-[-1]  twcss-rotate-180 -twcss-mb-px'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(100%+1.3px)] twcss-w-[calc(155%+1.3px)] lg:twcss-h-0 twcss-h-[4.4rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[--accent-color-2]'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
</div>
<!-- end section 11 -->
{% schema %}
{
  "name": "custom hem hero learn",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom hem hero learn"
    }
  ]
}
{% endschema %}
<script>
  let slides = [
    {
      img: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-what-to-expect6-png.png?v=1742821229',
      text: `<strong>Long-term relief and prevention</strong> as the natural ingredients strengthen and support
                    vein function.`,
    },
    {
      img: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-what-to-expect4-png.png?v=1742820315',
      text: `<strong>Relief from itching and burning</strong> within the first few days of consistent use.`,
    },
    {
      img: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-what-to-expect3-png.png?v=1742820314',
      text: `<strong>Reduction in swelling</strong> as the formula supports vein health and circulation.`,
    },
    {
      img: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-what-to-expect2-png.avif?v=1746462318',
      text: `<strong>Less discomfort while sitting and moving</strong>, allowing for greater mobility.`,
    },
    {
      img: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-what-to-expect1-png.png?v=1742820314',
      text: `<strong>Gradual shrinking of hemorrhoids</strong> with continued use over time.`,
    },
    {
      img: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-what-to-expect5-png.avif?v=1746462470',
      text: `<strong>Improved bathroom experiences</strong> without the fear of pain or irritation.`,
    },
  ];

  let container = document.querySelector('.splide__list');

  slides.forEach((slide, i) => {
    let html = `<img
                  src='${slide.img}'
                  alt='long-term'
                  width='auto'
                  height='auto'
                  class='twcss-mb-[2rem]'
                >
                <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black'>
                  ${slide.text}
                </p>`;
    const dom = document.createElement('li');
    dom.classList.add('splide__slide');
    dom.innerHTML = html;
    container.appendChild(dom);
  });

  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('.splide', {
      perPage: 3,
      gap: '3rem',
      type: 'loop',
      perMove: 1,
      arrows: true,
      breakpoints: {
        768: {
          perPage: 1,
        },
      },
    });
    splide.mount();
  });

  let accordionData = {
    DIOSMIN: {
      img: `https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-diosmin-768x432.png?v=1742842059`,
      text: `<p>Diosmin is a natural flavonoid compound primarily derived from citrus fruits. It is well known for its&nbsp;<strong>vascular-protective</strong>&nbsp;and&nbsp;<strong>anti-inflammatory</strong>&nbsp;properties, making it a popular ingredient in supplements designed to support&nbsp;<strong>circulatory health, vein function, and hemorrhoid relief</strong>.</p>
    <h4>Benefits of Diosmin:</h4>
    <p>✔&nbsp;<strong>Improves blood circulation</strong>&nbsp;&ndash; Helps strengthen veins and capillaries<br/>✔&nbsp;<strong>Reduces inflammation</strong>&nbsp;&ndash; Supports relief from swelling and discomfort<br/>✔&nbsp;<strong>Helps shrink hemorrhoids</strong>&nbsp;&ndash; Promotes healthy vein function<br/>✔&nbsp;<strong>Supports leg vein health</strong>&nbsp;&ndash; Used for chronic venous insufficiency and varicose veins</p>`,
    },
    HESPERIDIN: {
      img: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-hesperidin-1024x576.png?v=1742842416',
      text: `<p>Hesperidin is a natural&nbsp;<strong>bioflavonoid</strong>&nbsp;found primarily in citrus fruits, such as oranges and lemons. It is known for its&nbsp;<strong>anti-inflammatory, antioxidant, and vascular-supporting properties</strong>, making it a key ingredient in supplements designed for&nbsp;<strong>hemorrhoid relief, vein health, and circulation support</strong>.</p>
      <h4>Benefits of Hesperidin:</h4>
      <p>✔&nbsp;<strong>Enhances blood circulation</strong>&nbsp;&ndash; Improves vein elasticity and reduces blood pooling<br/>✔&nbsp;<strong>Reduces swelling &amp; inflammation</strong>&nbsp;&ndash; Helps alleviate hemorrhoid discomfort<br/>✔&nbsp;<strong>Strengthens blood vessels</strong>&nbsp;&ndash; Supports capillary integrity and reduces fragility<br/>✔&nbsp;<strong>Works synergistically with Diosmin</strong>&nbsp;&ndash; Often combined for enhanced effectiveness</p>`,
    },
    'HORSE CHESTNUT EXTRACT': {
      img: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhero-horse-chestnut-1024x576.png?v=1742842460',
      text: `<p>Horse Chestnut (<strong>Aesculus hippocastanum</strong>) is a plant extract known for its&nbsp;<strong>powerful anti-inflammatory and vascular-supporting properties</strong>. It has been traditionally used to treat&nbsp;<strong>varicose veins, poor circulation, and hemorrhoids</strong>&nbsp;due to its ability to&nbsp;<strong>strengthen veins and reduce swelling</strong>.</p>
      <h4>Benefits of Horse Chestnut Extract:</h4>
      <p>✔&nbsp;<strong>Reduces swelling &amp; inflammation</strong>&nbsp;&ndash; Helps alleviate hemorrhoid discomfort<br/>✔&nbsp;<strong>Improves blood circulation</strong>&nbsp;&ndash; Supports healthy veins and prevents blood pooling<br/>✔&nbsp;<strong>Strengthens vein walls</strong>&nbsp;&ndash; Reduces the risk of further hemorrhoid flare-ups<br/>✔&nbsp;<strong>Relieves pain &amp; discomfort</strong>&nbsp;&ndash; Eases itching, burning, and irritation</p>`,
    },
  };

  const accordionContainer = document.getElementById('accordion');

  Object.entries(accordionData).forEach(([title, content], i) => {
    const item = document.createElement('div');
    item.className = 'accordion-item twcss-mb-[1rem]';
    let expand = false;
    if (i == 0) expand = true;
    item.innerHTML = `
    <button class="accordion-header" aria-expanded="${expand}">${title}</button>
    <div class="accordion-content">
      <div class="accordion-inner"><img src="${content.img}" class="twcss-w-full twcss-mb-[2rem]"/>
      ${content.text}
      </div>
    </div>
  `;

    accordionContainer.appendChild(item);
    if (i == 0) {
      let ac = item.querySelector('.accordion-content');
      ac.style.maxHeight = '744px';
    }
  });

  document.addEventListener('click', (e) => {
    if (e.target.classList.contains('accordion-header')) {
      const header = e.target;
      const content = header.nextElementSibling;
      const isOpen = header.getAttribute('aria-expanded');

      // Close all
      document.querySelectorAll('.accordion-header').forEach((h) => h.setAttribute('aria-expanded', 'false'));
      document.querySelectorAll('.accordion-content').forEach((c) => {
        c.style.maxHeight = null;
      });

      if (isOpen == 'false') {
        header.setAttribute('aria-expanded', 'true');
        const scrollHeight = content.querySelector('.accordion-inner').scrollHeight;
        content.style.maxHeight = scrollHeight + 'px';
      }
    }
  });
</script>
