<div class='color-{{ section.settings.color_scheme }} twcss-relative lg:twcss-pt-[15rem] twcss-pt-[5rem] twcss-bg-[--accent-color-3]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <h2 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center twcss-mb-[2rem]'>
        Doctor-Backed Relief You Can Trust
      </h2>
      <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem] twcss-text-center twcss-text-black'>
        At&nbsp;<strong>Hem Healer&trade;</strong>, we believe in science-backed solutions. That&rsquo;s why our
        formulas are not only&nbsp;<strong>clinically researched</strong>&nbsp;but also&nbsp;<strong
          >recommended by health professionals</strong
        >&nbsp;who understand the importance of&nbsp;<strong>safe, effective, and natural hemorrhoid relief</strong>.
      </p>
      <div class='twcss-flex lg:twcss-flex-row twcss-flex-col lg:twcss-gap-[4rem] twcss-gap-[2rem] twcss-pt-[4rem]'>
        <div
          class='lg:twcss-p-[4rem] twcss-p-[2rem] twcss-shadow-[0px_0px_10px_0px_rgba(0,0,0,0.5)] twcss-bg-white twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem] lg:twcss-w-1/2 twcss-w-full'
          data-aos='fade-right'
        >
          <div class='lg:twcss-w-[30%] twcss-flex-shrink-0'>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Hem_Rescue_Doctor_-_1_600x_1.png?v=1742303537'
              alt='Dr. Nicolette Natale, D.O.'
              width='auto'
              height='auto'
              class='twcss-w-full'
            >
          </div>
          <div>
            <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem]'>
              <em
                >I highly recommend Hem Healer&rsquo;s Hem Rescue to anyone struggling with hemorrhoids. The combination
                of natural ingredients can help reduce inflammation, which may lower pain levels associated with
                hemorrhoids. Additionally, reductions in inflammation and improved circulation can provide the body with
                the appropriate environment to heal hemorrhoids naturally and reduce associated symptoms.</em
              >
            </p>
            <p><strong>Dr. Nicolette Natale, D.O.</strong></p>
          </div>
        </div>
        <div
          class='lg:twcss-p-[4rem] twcss-p-[2rem] twcss-shadow-[0px_0px_10px_0px_rgba(0,0,0,0.5)] twcss-bg-white twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem] lg:twcss-w-1/2 twcss-w-full'
          data-aos='fade-left'
        >
          <div class='lg:twcss-w-[30%] twcss-flex-shrink-0'>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhealer-dr-langdon-recommendation.png?v=1742303574'
              alt='Dr. Kim Langdon M.D.'
              width='auto'
              height='auto'
              class='twcss-w-full'
            >
          </div>
          <div>
            <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-mb-[1.4rem]'>
              <em
                >Hemorrhoids can be reduced quickly and safely by taking HEM RESCUE every day. The clinically proven
                ingredients of HEM RESCUE are witch hazel, vitamin C, butcher’s broom, hesperidin, and horse chestnut
                seed extract, which have analgesic, anti-inflammatory, and pro-circulatory effects. Butcher’s broom,
                hesperidin, and horse chestnut seed extract reduce swelling by helping veins constrict thus shrinking
                the hemorrhoid and reducing pain.</em
              >
            </p>
            <p><strong>Dr. Kim Langdon M.D.</strong></p>
          </div>
        </div>
      </div>
      {% comment %} <div class='twcss-pt-[4rem] twcss-py-[1rem]'>
        <a
          href='/cart/add?id=44552662122709&quantity=1'
          class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
          >EXPERIENCE DOCTOR-APPROVED RELIEF TODAY</a
        >
      </div> {% endcomment %}
      <div class='twcss-pt-[4rem] twcss-py-[1rem]'>
      {{ 'quick-add.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
      {% assign card_product = all_products['hem-healer'] %}
      {% assign section_id = section.id %}
      {% assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id %}
      
      <div class="quick-add no-js-hidden">
        <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
            data-product-url="{{ card_product.url }}"
          >
          EXPERIENCE DOCTOR-APPROVED RELIEF TODAY
            {%- if horizontal_quick_add -%}
              <span class="icon-wrap">
                {{- 'icon-arrow.svg' | inline_asset_content -}}
              </span>
            {%- endif -%}
            {%- render 'loading-spinner' -%}
          </button>
        </modal-opener>
        <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
          <div
            role="dialog"
            aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
            aria-modal="true"
            class="quick-add-modal__content global-settings-popup"
            tabindex="-1"
          >
            <button
              id="ModalClose-{{ card_product.id }}"
              type="button"
              class="quick-add-modal__toggle"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              {{- 'icon-close.svg' | inline_asset_content -}}
            </button>
            <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
          </div>
        </quick-add-modal>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom section III",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section III"
    }
  ]
}
{% endschema %}
