<div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem]'>
  <div class='lg:twcss-w-1/3 twcss-w-full'>
    <img
      src='{{ 'custom_section_hem_hero.guaranteed_risk_free_src' | t }}'
      alt='{{ 'custom_section_hem_hero.alt_guaranteed_risk_free' | t }}'
      class='twcss-mx-auto'
      width='auto'
      height='auto'
    >
  </div>
  <div class='lg:twcss-w-2/3 twcss-w-full twcss-flex twcss-flex-col twcss-justify-center'>
    <div class='twcss-text-[2.4rem]'>
      <p class='twcss-font-bold'>{{ 'custom_section_hem_hero.guarantee_heading' | t }}</p>
      <p>
        <span class='twcss-font-bold twcss-text-red-600'>{{ 'custom_section_hem_hero.guarantee_label' | t }}</span>
        {{ 'custom_section_hem_hero.guarantee_text' | t }}
      </p>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Guaranteed",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Guaranteed"
    }
  ]
}
{% endschema %}
