{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class='page-width section-{{ section.id }}-padding'>
  {% comment %}
    <h1 class='main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}'>
      {{ page.title | escape }}
    </h1>
    <div class='rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
      {{ page.content }}
    </div>
  {% endcomment %}
  <div class='twcss-max-w-[100rem] twcss-w-full twcss-mx-auto twcss-relative'>
    <img
      class='lg:twcss-block twcss-hidden'
      src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/2_-_Desktop_Version.png?v=1750185491'
      alt=''
    >
    <img
      class='twcss-block lg:twcss-hidden'
      src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/2_-_Mobile_Version.png?v=1750185490'
      alt=''
    >
    <div class='twcss-flex twcss-absolute twcss-bottom-0 lg:twcss-w-[51%] twcss-w-full lg:twcss-right-[7.5%] twcss-h-[15%] twcss-justify-end twcss-bg-opacity-50'>
      <a
        href='https://calendly.com/d/cq6c-7wz-f79/hem-healer-support-session-phone-call-elena-jeremy'
        class='twcss-w-1/2 twcss-h-full'
        >&nbsp;</a
      >
      <a href='https://drive.google.com/file/d/1SQflGA0U35_kKGOeAkecIV4fpw0IzzUl/view' class='twcss-w-1/2 twcss-h-full'
        >&nbsp;</a
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "need help",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "need help"
    }
  ]
}
{% endschema %}
